---

// Astro props:
interface Props {
    text: string,
    href: string
}

const { text, href } = Astro.props;

---

<li>
    <a href=`${href}` tabindex="0">
        <div>
            {text}
        </div>
    </a>
</li>

<style lang="scss">
    @import '../../styles/utility.scss';

    li {
        @include focus();
        display: block;
        font-size: rempx(16px);
        letter-spacing: .025em;
        margin: rempx(7.5px);
        outline: 2px solid transparent;
        text-align: center;
        transition: .2s ease-in-out;
        white-space: nowrap;
        width: 100%;

        @media (min-width: $screen-md) {
            margin: rempx(10px);
            width: rempx(220px);
        }

        &:hover div {
            background-color: $color-accent-dk;
        }

        div {
            background-color: $color-accent;
            padding: rempx(10px) rempx(12px);
            transition: .2s ease-in-out;

            @media (min-width: $screen-md) {
                padding: rempx(12px) rempx(22px);
            }
        }
    }
</style>