---

// Component imports:
import Bio from './FooterBio.astro';
import List from './FooterList.astro';
import Address from './FooterAddress.astro';
import Legal from './FooterLegal.astro';

---

<section id="footer">
    <div class="container">
        <div class="grid">
            <Bio />
            <List />
            <Address />
        </div>
        <Legal />
    </div>
</section>

<style lang="scss" is:global>
    @import '../../styles/utility.scss';

    section#footer {
        background-color: $color-accent;
        font-size: rempx(14px);
        font-weight: 400;
        letter-spacing: .02em;
        line-height: rempx(20px);
        padding: rempx(40px);

        h3 {
            font-size: rempx(16px);
            font-weight: 600;
            margin-bottom: rempx(14px);
        }

        a {
            border-bottom: 1px solid rgba($color-accent-xdk, .8);
            transition: .2s ease-in-out;

            &:hover {
                border-bottom: 1px solid transparent;
            }
        }

        .grid {
            display: grid;
            grid-template-rows: auto auto auto;

            @media (min-width: $screen-md) {
                grid-template-rows: inherit;
                grid-template-columns: 1fr 1fr 1fr;
            }
        }
    }
</style>