<head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>South Jersey Deb</title>
    <meta name="description" content="Looking to buy or sell a home in southern New Jersey? Licensed real-estate agent Deb Leiter is your local expert." />
</head>